/*********************************
/* Privacy Section Start
*********************************/

.privacy__content {
	.main__title {
		font-size: 24px;
		line-height: 28px;
		font-weight: var(--font-medium);
		color: var(--color-heading);
		text-transform: capitalize;
		padding: 16px 0;
		border-bottom: 1px solid var(--color-border);
		margin-bottom: 0;
		position: relative;
		padding-left: 20px;

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			height: 4px;
			width: 4px;
			border-radius: 50%;
			background: var(--color-heading);
		}
	}

	&-title {
		font-size: 24px;
		line-height: 28px;
		font-weight: var(--font-medium);
		color: var(--color-heading);
		text-transform: capitalize;
		padding: 0;
		margin-bottom: 0;
	}
	&-subtitle {
		font-size: 20px;
		line-height: 24px;
		font-weight: var(--font-semibold);
		color: var(--color-heading);
		text-transform: capitalize;
		margin-top: 30px;
		margin-bottom: 0;
		position: relative;
	}
	p {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 0px;
		margin: 24px 0;

		span {
			color: var(--color-heading);
			font-weight: var(--font-medium);
		}

		a {
			color: var(--color-primary);
			display: inline-block;
		}

		&:last-of-type {
			margin-bottom: 0;
		}
	}
	&-list {
		margin: 24px 0;
		padding-left: 15px;
		li {
			list-style: none;
			font-size: 16px;
			line-height: 24px;
			color: var(--color-content);
			margin-bottom: 12px;
			position: relative;
			padding-left: 20px;

			&::before {
				content: "";
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				height: 4px;
				width: 4px;
				border-radius: 50%;
				background: var(--color-content);
			}

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}

/*********************************
/* Privacy Section End
*********************************/
